@page "/"
@using AltairCA.Blazor.WebAssembly.Cookie
@using Shedule.Data
@using System.ComponentModel.DataAnnotations
@using Shedule.Models
@using System.Globalization
@using Shedule.Services


<PageTitle>Index</PageTitle>

<div>
	<h1>Новости</h1>
	Новостей нет.
	Такие дела.
	Иди работай.
</div>
